[submodule "api-wars-cli"]
	path = cli
	url = https://github.com/iLopezosa/api-wars-cli
[submodule "rest"]
	path = rest
	url = https://github.com/iLopezosa/api-wars-rest
[submodule "graphql"]
	path = graphql
	url = https://github.com/iLopezosa/api-wars-graphql
[submodule "grpc"]
	path = grpc
	url = https://github.com/iLopezosa/api-wars-grpc
